
{% extends "base_generic.html" %} {% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Kyanime - Restablecimiento Completo</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'css/estilos.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'css/estilos.css' %}"
    />
  </head>
  <body>
    <div class="container-bg"">
     <main role="main">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-9 mx-auto pb-5 text-white">
        <h3 class="pb-4">Restablecimiento de contraseña completado  </h3>
        <p class="pb-3">Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
        <p><a class=" btn btn-anime btn-block" href="{% url 'login' %}">Iniciar sesión</a></p>
        <br>
        <img src="{% static 'img/img1.png' %}" class="img-fluid " alt="Responsive image">
      </div>
    </div>
  </div>
</main>
    </div>

  </body>

</html>
{% endblock %}