{% extends "base_generic.html" %} {% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Kyanime - Restablecer Contraseña</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'css/estilos.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'css/estilos.css' %}"
    />
  </head>
  <body>
    <div class="container-bg"">
      <style>.errorlist{color:red;}</style>
        <main role="main" >
          <div class="container">
            <div class="row pt-3">
              <div class="col-md-9 mx-auto mb-5">
                <form action="" method="post">
                {% csrf_token %}
                  <h3 class="pb-4 text-white">Restablecer contraseña</h3>
                  <p class="text-white">¿Ha olvidado su contraseña? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
                  {{ form.email.errors }}
                  <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/></p>
                  <p><input type="submit" class="btn btn-anime btn-block" value="Confirmar"></p>
                   <br>
                    <img src="{% static 'img/img3.png' %}" class="img-fluid " alt="Responsive image">
                </form>
              </div>
            </div>
          </div>
        </main>
    </div>

  </body>

</html>
{% endblock %}