{% extends "base_generic.html" %} {% block content %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Kyanime - Nueva Contraseña</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'css/estilos.css' %}"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href=" {% static 'css/estilos.css' %}"
    />
  </head>
  <body>
    <div class="container-bg"">
     <main role="main">
  <div class="container">
    <div class="row pt-3">
      <div class="col-md-9 mx-auto mb-5 text-white">
        {% if validlink %}
          <form action="" method="post">{% csrf_token %}
            <h3 class="pb-4">Escriba la nueva contraseña</h3>
            <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
            {{form.new_password1.errors}}
            <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña"></p>
            {{form.new_password2.errors}}
            <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña"></p>
            <p><input type="submit" class="btn btn-anime btn-block" value="Cambiar mi contraseña"></p>
          </form>
        {% else %}
          <h3 class="pb-4">Restablecimiento de contraseñas fallido</h3>
          <p>El enlace de restablecimiento de contraseña es inválido. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
</main>
    </div>

  </body>

</html>
{% endblock %}